{% extends 'application_layout.html' %}

{% load static %}

{% block title %}
    {{ space.name }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 offset-1">

            <div class="row" style="padding: 10px;">
                <h1 class="space-name">
                    {{ space.name }}
                    {% if space.state == "D" %}
                        <span class="badge badge-pill badge-success"><i
                                class="fas fa-chevron-left"></i> {{ space.get_state_display }}</span>
                    {% elif space.state == "P" %}
                        <span class="badge badge-pill badge-primary"><i
                                class="fas fa-chevron-left"></i> {{ space.get_state_display }}</span>
                    {% elif space.state == "L" %}
                        <span class="badge badge-pill badge-danger"><i
                                class="fas fa-chevron-left"></i> {{ space.get_state_display }}</span>
                    {% elif space.state == "R" %}
                        <span class="badge badge-pill badge-warning"><i
                                class="fas fa-chevron-left"></i> {{ space.get_state_display }}</span>
                    {% endif %}
                    Capacidad: {{ space.capacity }}
                </h1>
            </div>
            {% if space.image %}
                <img src=" {% static space.image.url %}" class="img-fluid"
                     alt="Foto" style="width: inherit"/>
            {% else %}
                <img class="card-img-top"
                     src="{% static 'img/items/default_space.jpg' %}"
                     alt="Card image cap">
            {% endif %}
            <div class="card">
                <div class="card-header space-description-title">Descripción
                </div>
                <div class="card-body">
                    <p class="card-text">{{ space.description }}</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="margin-top: 2em;">
                <div class="col-6 offset-3 schedule-current-week"
                     style="text-align: center;">
                    <div class="alert alert-info">
                        <p>Estás viendo la semana del lunes
                            <b>{{ actual_monday }}</b></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- choose calendar date and time range -->
        
        <div class="container">
        <form >
            {% include '_schedule_landing.html' %}
            <div class="col-md-2">
                <div class="form-group">
                    <label>Fecha</label>
                    <input class="form-control" name="picked-date"  id="picked-date" type="text" value="" data-pseudo-time="-1"><br>
                </div>
                <div class="form-group">
                    <label>Hora inicio</label>
                    <input class="form-control" name="picked-start-time"  id="picked-start-time" type="text" value="" data-pseudo-time="-1"><br>
                </div>
                <div class="form-group">
                    <label>Hora final</label>
                    <input class="form-control" name="picked-end-time"  id="picked-end-time" type="text" value="" data-pseudo-time="-1"><br>
                </div>
            </div>
            <button type="submit" class="btn" value="aceptar">Aceptar</button>
        </form>
        </div>
</div>

<script>
    $(document).ready(function(){
        // "Lunes","Martes","Miercoles","Jueves","Viernes"
        $('.week-day li').on('click', function(e){
            el = $(e.target)
            console.log(el.data("time")) 
            console.log(el.closest("li.week-day")) 
            selectDate(el)
            
        })	
    })
    function selectDate(el){
        date = $("#picked-date")
        weekday = el.closest('.week-day')
        console.log(date.val() + "-" + weekday.data('day'))
        
        if (date.val() == ""){
            selectStartDate(el)
        } else {
            if(date.val() == weekday.data('day')){
                selectEndDate(el)
            } else {
                selectStartDate(el)
            }
        }
        date.val(weekday.data('day'))
    }
    function selectStartDate(el){
        startTime = $("#picked-start-time")
        startTime.val(el.data("time"))

        startTime.data("pseudo-time", el.data("pseudo-time"))

        // unselect end time data
        endTime = $("#picked-end-time")
        endTime.val("")
        endTime.data("pseudo-time", -1)
        
    }
    function selectEndDate(el){
        startTime = $("#picked-start-time")
        endTime = $("#picked-end-time")
        endTime.data("pseudo-time", el.data("pseudo-time"))

        startPseudoTime = startTime.data("pseudo-time")
        endPseudoTime = endTime.data("pseudo-time")

        console.log(parseInt(endPseudoTime) != -1 )
        console.log(parseInt(startPseudoTime), parseInt(endPseudoTime))
        
        
        if (parseInt(startPseudoTime) < parseInt(endPseudoTime)){
            endTime.val(el.data("time"))
        } else {
            selectStartDate(el)
        }
            
    }
</script>
{% endblock %}