{% extends 'application_layout.html' %}

{% block title %}
Sistema de Reserva CEI - Ver Espacios
{% endblock %}

{% block body %}

<div class="container">
    <br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4" style="text-align: center;">
            <div style="margin:0; padding:0; width: auto;" class="btn-group" role="group" aria-label="Basic example">
                <a href="{% url 'landing_articles' %}"  class="btn btn-light" role="button" aria-disabled="false">Artículos</a>
                <a href="" class="btn btn-success disabled" role="button" aria-disabled="true">Espacios</a>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="container">
        <div class="row" style="margin-top: 2em;">
            <div class="col-6 offset-3 schedule-current-week"
                 style="text-align: center;">
                <div class="alert alert-info">
                    <p>Estás viendo la semana del lunes
                        <b>{{ actual_monday }}</b></p>
                </div>
            </div>
        </div>
    </div>
    {% include '_schedule_landing_filtered.html' %}
    <div id="filtro_espacios">
        <div class="container center">

            <form method="post" action="{% url 'select_spaces' %}" >
                {% csrf_token %}
                {% for space in spaces %}
                    <label class="checkbox-inline">
                        {% if space.name in filtered %}
                            <input type="checkbox" name="checkbox" checked="checked" value="{{ space.name }}" >{{ space.name }}
                        {% else %}
                            <input type="checkbox" name="checkbox" value="{{ space.name }}">{{ space.name }}
                        {% endif %}
                    </label>
                {% endfor %}
                <button type="submit" class="btn btn-info">Filtrar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}


